[run]
branch = True
source =
    noggin

[paths]
source =
   noggin
   .tox/*/site-packages/noggin

[report]
precision = 2
fail_under = 100
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
omit =
    tests/*
    noggin/__init__.py
