{% import '_form_macros.html' as macros %}
<form action="{{ url_for('login') }}" method="post" novalidate>
  {{ login_form.csrf_token }}
  <div class="h4 text-center">
    Log In
  </div>
  <div class="row">
    <div class="input-field col-12">
      {{ macros.with_errors(login_form.username, class="validate", placeholder="username", tabindex="1", label=False) }}
    </div>
    <div class="input-field col-12">
      {{ macros.with_errors(login_form.password, class="validate", placeholder="password", tabindex="2", label=False) }}
    </div>
    <div class="col-12 mt-2">
      {{ macros.non_field_errors(login_form) }}
      <button class="btn btn-block btn-primary" id="submit" type="submit" tabindex="3">Log In</button>
    </div>
    <div class="col-12 mt-2 d-flex justify-content-between">
      <small><a href="{{ url_for('forgot_password_ask') }}">Forgot password?</a></small>
    </div>
  </div>
</form>