{% extends "main.html" %}
{% block title %}Forgotten Password?{% endblock %}

{% block content %}
  {{ super() }}

{% import '_form_macros.html' as macros %}

  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto">
        <div class="h4 text-center mb-4" id="pageheading">Did you forget your password?</div>

        <p>Enter your username and an email will be sent to your address with further instructions.</p>

        <form action="{{ url_for('forgot_password_ask') }}" method="post" novalidate>
          {{ form.csrf_token }}
          <div class="form-row">
            <div class="form-group col">{{ macros.with_errors(form.username, autofocus="true")}}</div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              {{ macros.non_field_errors(form) }}
              <button class="btn btn-outline-primary btn-block" id="submit" type="submit" tabindex="5">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div> <!-- ./row -->
  </div>
{% endblock %}
