{% extends "with_navbar.html" %}

{# Here it is relatively safe to assume that 'ipa' exists and is valid. We would not be here otherwise. #}

{% block title %}Group List{% endblock %}

{% block head %}
  {{ super() }}
  {{ css("group") }}
{% endblock %}

{% block content %}
  {{ super() }}
  <div class="container section">

    <div class="row">
      <div class="col s12">
        <h3 class="header light-blue-text text-darken-4 fw300">Group List</h3>

        <ul class="collection">
          {% for group in groups %}
            <li class="collection-item avatar">
              <i class="material-icons circle">group</i>
              <a href="/group/{{ group.name }}">
                <span class="title">{{ group.name }}</span>
              </a>
              <p>{{ group.dn }}</p>
              <p>{{ group.members|length|default(0) }} members</p>
              {% if group.description %}
                <p>{{ group.description }}</p>
              {% endif %}
            </li>
          {% endfor %}
        </ul>

      </div>
    </div>

  </div>
{% endblock %}
