{% extends "with_navbar.html" %}

{# Here it is relatively safe to assume that 'ipa' exists and is valid. We would not be here otherwise. #}

{% block title %}Group: {{ group.name }}{% endblock %}

{% block head %}
  {{ super() }}
  {{ css("group") }}
{% endblock %}

{% block content %}
  {{ super() }}

  {% if sponsor_form and sponsor_form.errors %}
    <ul class="errors">
      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
          <li>{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}


  {% if current_user.username in group.sponsors and sponsor_form %}
    {# Here we create the modal to add users to the group, but only if the person
       viewing this page is a sponsor of the group. #}

    <div id="sponsor-modal" class="modal">
      <div class="modal-content">
        <h4>Add Member to {{ group.name }}</h4>

        <form action="{{ url_for('group_add_member') }}" method="post">
          <div class="row">
            <div class="input-field col s6">
              {{ sponsor_form.hidden_tag() }}
              {{ sponsor_form.new_member_username }}
              {{ sponsor_form.new_member_username.label }}
              <button class="btn waves-effect waves-light light-blue darken-4 w100" id="submit" type="submit" tabindex="9">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  {% endif %}

  <div class="container section">

    <div class="row">
      <div class="col s12">
        <h3 class="header light-blue-text text-darken-4 fw300">{{ group.name }}</h3>
        <p>{{ group.description }}</p>
      </div>
    </div>

    <!--
    {% if current_user.username in group.sponsors %}
      <div class="row">
        <div class="col s12">
          <div class="card-panel orange lighten-4 orange-text text-darken-4">
            <h4 class="header fw300">Sponsorship Panel</h4>

          </div>
        </div>
      </div>
    {% endif %}
    -->

    <div class="row">
      <div class="col m6 s12">
        <h4 class="header fw300">Sponsors</h4>
        <ul class="collection">
          {% for sponsor in sponsors.values()|sort(attribute='username') %}
            <li class="collection-item avatar">
              <!-- TODO: .red if sponsor/admin -->
              {% if sponsor.mail %}
                <img src="{{ gravatar(sponsor.mail, 200) }}" class="circle">
              {% else %}
                <i class="material-icons circle">person</i>
              {% endif %}
              <a href="/user/{{ sponsor.username }}">
                <span class="title">{{ sponsor.username }}</span>
              </a>
              <p>{{ sponsor.name }}</p>
              {# TODO: sponsor if sponsor #}
              <p>member</p>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col m6 s12">
        <h4 class="header fw300">
          Users
          {% if current_user.username in group.sponsors %}
            <button class="btn btn-floating btn-small right waves-effect waves-light red modal-trigger" data-target="sponsor-modal">
              <i class="material-icons">add</i>
            </button>
          {% endif %}
        </h4>
        <form action="{{ url_for('group_remove_member') }}" method="post">
          {{ sponsor_form.hidden_tag() }}
          <ul class="collection">
            {% for member in members.values()|sort(attribute='username') %}
              <li class="collection-item avatar">
                <!-- TODO: .red if sponsor/admin -->
                {% if member.mail %}
                  <img src="{{ gravatar(member.mail, 200) }}" class="circle">
                {% else %}
                  <i class="material-icons circle">person</i>
                {% endif %}
                <a href="/user/{{ member.username }}">
                  <span class="title">{{ member.username }}</span>
                </a>
                <p>{{ member.name }}</p>
                {# TODO: sponsor if sponsor #}
                <p>member</p>
                {% if current_user.username in group.sponsors %}
                  <div class="secondary-content">
                    <button type="submit" class="btn-flat waves-effect waves-light red-text" name="username" value="{{ member.username }}">
                      <i class="material-icons">remove_circle_outline</i>
                    </button>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </form>
      </div>

    </div>

  </div>
{% endblock %}
