{% extends "main.html" %}

{# Here it is relatively safe to assume that 'ipa' exists and is valid. We would not be here otherwise. #}

{% block title %}Group: {{ group.name }}{% endblock %}

{% block content %}
  {{ super() }}
  <div class="container section">
    <div class="row" data-section="identity">
      <div class="col">
          <h3>{{ group.name }}</h3>
          {% if group.description %}<div>{{ group.description }}</div>{% endif %}
      </div>
      {{ edit_group_details() if edit_group_details is defined }}
    </div>
    <div class="row">
      <div class="col-12" data-section="sponsors">
        <h4>Sponsors</h4>
        {% if sponsors|length == 0 %}
        <p>No sponsors yet.</p>
        {% else %}
        <div class="row">
          {% for sponsor in sponsors|sort(attribute='username') %}
            <div class="col-4 mb-4">
              <div class="card">
              <div class="media align-items-center card-body">
                <img src="{{ gravatar(sponsor.mail if sponsor.mail else 'default', 80) }}">
                <div class="media-body ml-2">
                <a href="{{ url_for('user', username=sponsor.username) }}">
                  {{ sponsor.username }}
                </a>
                <div>{{ sponsor.name }}</div>
                </div>
              </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="col-12" data-section="members">
        <div class="d-flex justify-content-between">
          <div class="h4">Members</div>
          {% if current_user_is_sponsor and sponsor_form %}
          {# TODO: not require a double enter here maybe #}
             <form action="{{ url_for('group_add_member', groupname=group.name) }}" method="post">
              <div class="row">
                <div class="col">
                  {{ sponsor_form.hidden_tag() }}
                  {{ sponsor_form.new_member_username(class='typeahead form-control form-control-sm mb-2', autocomplete="off", placeholder="add user...") }}
                  <button class="d-none" id="submit" type="submit" tabindex="9">Submit</button>
                </div>
              </div>
            </form>
          {% endif %}
          </div>
        {% if members|length == 0 %}
        <p>No members yet.</p>
        {% else %}
        <form action="{{ url_for('group_remove_member', groupname=group.name) }}" method="post">
          {{ sponsor_form.hidden_tag() }}
          <ul class="list-group">
            {% set sponsor_usernames = sponsors|map(attribute='username') %}
            {% for member in members|sort(attribute='username') %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="media align-items-center">
                  <img src="{{ gravatar(member.mail if member.mail else 'default', 50) }}">
                  <div class="media-body ml-2">
                      <div class="my-0 font-weight-bold">
                        <a href="{{ url_for('user', username=member.username) }}">
                          <span class="title">{{ member.username }}</span>
                        </a>
                      </div>
                      <div>{{ member.name }}</div>
                  </div>
                </div>
                <div class="text-muted">
                  {% if current_user_is_sponsor %}
                    <button type="submit" class="btn btn-outline-danger border-0" name="username" value="{{ member.username }}">
                      <i class="fa fa-trash"></i>
                    </button>
                  {% endif %}
                </div>
              </li>
            {% endfor %}
          </ul>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super () }}
  <script>
    {% if current_user_is_sponsor and sponsor_form %}
      var typeahead = $('#new_member_username').typeahead(
        { highlight: true},
        { name: 'users',
          display: 'uid',
          source: bloodhound_users,
          templates: { }
        }
      );
      typeahead.unwrap();
    {% endif %}
  </script>
{% endblock %}
