{% extends "with_navbar.html" %}
{% block title %}Self-Service Portal{% endblock %}

{% block head %}
  {{ super() }}
  {{ css("index") }}
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="container section">
    <div class="row">
      
      <div class="col s5">
        <form action="/register" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

          <div class="card">
            <div class="card-content">

              <span class="card-title">Register</span>

              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="Jane" id="first_name" name="first_name" type="text" class="validate" tabindex="4">
                  <label for="first_name">First Name</label>
                </div>

                <div class="input-field col s6">
                  <input placeholder="Doe" id="last_name" name="last_name" type="text" class="validate" tabindex="5">
                  <label for="last_name">Last Name</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="jdoe" id="username" name="username" type="text" class="validate" tabindex="6">
                  <label for="username">Username</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="password" id="password" name="password" type="password" class="validate" tabindex="7">
                  <label for="password">Password</label>
                </div>

                <div class="input-field col s6">
                  <input placeholder="password" id="password_confirm" name="password_confirm" type="password" class="validate" tabindex="8">
                  <label for="password_confirm">Password Confirmation</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <button class="btn waves-effect waves-light light-blue darken-4 w100" id="submit" type="submit" tabindex="9">Submit</button>
                </div>
              </div>

            </div>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>

      <div class="col s5 offset-s2">
        <form action="/login" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="card">
            <div class="card-content">

              <span class="card-title">Log In</span>

              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="jdoe" id="login_username" name="username" type="text" class="validate" tabindex="1">
                  <label for="login_username">Username</label>
                </div>

                <div class="input-field col s12">
                  <input placeholder="password" id="login_password" name="password" type="password" class="validate" tabindex="2">
                  <label for="login_password">Password</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <button class="btn waves-effect waves-light light-blue darken-4 w100" id="submit" type="submit" tabindex="3">Log In</button>
                </div>

                <p class="col s12">
                  <small><a href="{{ url_for('password_reset') }}">Expired password?</a></small>
                </p>
              </div>

            </div>
            <div class="clearfix"></div>
          </div>

        </form>
      </div>
    </div>
  </div>
{% endblock %}
