{% macro css(name) %}
  <link href="{{ url_for('static', filename='css/' + name + '.css') }}" rel="stylesheet" type="text/css">
{% endmacro %}

{% macro ifa(cond) %}
  {% if cond %}
    {{ caller(cond) }}
  {% endif %}
{% endmacro %}

<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.min.css">
      <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
      <title>{% block title %}Edit me!{% endblock %} - {{ project }}</title>
    {% endblock %}
  </head>
  <body>
    <main>
      {% block content %}
        <h1>Edit me!</h1>
      {% endblock %}
    </main>

    {% block footer %}
      <footer class="page-footer light-blue">
        <div class="footer-copyright">
          <div class="container">
            &copy; 2019 Red Hat, Inc.
            (<a href="https://github.com/relrod/securitas" class="white-text">source</a>)
            <span class="grey-text text-lighten-4 right">{{ ipa.ipa_version|default('') }}</span>
          </div>
        </div>
      </footer>
    {% endblock %}

    {% block scripts %}
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
      <script>
        $(function() {
          $('.modal').modal()
        });
      </script>
    {% endblock %}
  </body>
</html>
