{% extends "main.html" %}
{% block title %}Password Reset{% endblock %}

{% block content %}
  {{ super() }}

{% import '_form_macros.html' as macros %}

  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto">
        {% if current_user %}
        <div class="h4 text-center mb-4" id="pageheading" >Password Reset for {{current_user.username}}</div>
        <form action="{{ url_for('auth_password_reset', username=current_user.username) }}" method="post">
        {% else %}
        <div class="h4 text-center mb-4" id="pageheading">Expired Password Reset for {{username}}</div>
        <form action="{{ url_for('password_reset', username=username) }}" method="post">
        {% endif %}
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="form-row">
            <div class="form-group col">{{ macros.with_errors(password_reset_form.current_password, tabindex="2")}}</div>
          </div>
          <div class="form-row">
            <div class="form-group col">{{ macros.with_errors(password_reset_form.password, tabindex="3")}}</div>
          </div>
          <div class="form-row">
            <div class="form-group col">{{ macros.with_errors(password_reset_form.password_confirm, tabindex="4")}}</div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              {{ macros.non_field_errors(password_reset_form) }}
              <button class="btn btn-outline-primary btn-block" id="submit" type="submit" tabindex="5">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div> <!-- ./row -->
  </div>
{% endblock %}
