{% extends "with_navbar.html" %}
{% block title %}Password Reset{% endblock %}

{% block head %}
  {{ super() }}
  {{ css("password-reset") }}
{% endblock %}

{% block content %}
  {{ super() }}

{% import '_form_macros.html' as macros %}

  <div class="container section">
    <div class="row">

      <div class="col s12">
        <form action="/password-reset" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

          <div class="card">
            <div class="card-content">

              <span class="card-title">Password Reset</span>

              <div class="input-field col s12">
                {{ macros.with_errors(password_reset_form.username, class="validate", placeholder="jbloggs", tabindex="1")}}
              </div>

              <div class="input-field col s12">
                {{ macros.with_errors(password_reset_form.current_password, class="validate", placeholder="current password", tabindex="2")}}
              </div>

              <div class="input-field col s12">
                {{ macros.with_errors(password_reset_form.password, class="validate", tabindex="3")}}
              </div>

              <div class="input-field col s12">
                {{ macros.with_errors(password_reset_form.password_confirm, class="validate", tabindex="4")}}
                </div>

              <div class="input-field col s12">
                <button class="btn waves-effect waves-light light-blue darken-4 w100" id="submit" type="submit" tabindex="5">Submit</button>
              </div>
            </div>

            <div class="clearfix"></div>

          </div> <!-- ./card -->
        </form>
      </div> <!-- ./col s12 -->
    </div> <!-- ./row -->
  </div>
{% endblock %}
