{% extends "with_navbar.html" %}
{% block title %}Self-Service Portal{% endblock %}

{% block head %}
  {{ super() }}
  {{ css("index") }}
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="container section">
    <div class="row">
      <div class="col s12">
        <h3 class="header light-blue-text text-darken-4 fw300">User registration</h3>
      </div>
    </div>

    <div class="row">
      <div class="col s5">
        {% include '_register_form.html' %}
      </div>

    </div>
  </div>
{% endblock %}