{% extends "main.html" %}

{% block title %}User: {{ user.username }}{% endblock %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h4 class="" id="user_username">{{ user.username }}</h4>
        <div id="user_fullname">{{ user.name if user.name else user.username }}</div>
        <img class="img-thumbnail" src="{{ gravatar(user.mail if user.mail else 'default', 400) }}">
        {% if user.username == current_user.username %}
          <a href="{{ url_for('user_edit', username=user.username) }}" class="btn btn-outline-primary btn-block mb-2 mt-1">Edit profile</a>
        {% endif %}
        <div>
              {% if user.timezone %}
                <div><b>Timezone:</b> {{ user.timezone }}</div>
              {% endif %}
              {% if user.ircnick %}
                <div><b>IRC Nickname:</b> {{ user.ircnick }}</div>
              {% endif %}
              {% if user.locale %}
                <div><b>Locale:</b> {{ user.locale }}</div>
              {% endif %}
              {% if user.gpgkeys %}
                <div><b>GPG Keys:</b> {{ user.gpgkeys|join(', ') }}</div>
              {% endif %}
              {% if user.rhbz_mail %}
                <div><b>RHBZ E-Mail:</b> {{ user.rhbz_mail }}</div>
              {% endif %}
              {% if user.github %}
                <div>
                  <b>GitHub:</b>
                  <a href="https://github.com/{{ user.github }}">@{{ user.github }}</a>
                </div>
              {% endif %}
              {% if user.gitlab %}
                <div>
                  <b>GitLab:</b>
                  <a href="https://gitlab.com/{{ user.gitlab }}">@{{ user.gitlab }}</a>
                </div>
              {% endif %}
            <div>
              {# TODO: What all do we want to link to here? #}
              {# TODO: And should these links be configurable somehow for other deployments? #}
              <a href="https://fedoraproject.org/wiki/User:{{ user.username }}">Wiki</a> | 
              <a href="https://{{ user.username }}.fedorapeople.org/">Fedora People</a>
            </div>
        </div>
      </div> 
      <div class="col">

        <div>
          <h4>{{groups | count }} Groups</h4>
          <ul class="list-group">
            {% for group in groups %}
              {% with is_sponsor = user.username in group.sponsors %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div class="media align-items-center">
                    <i class="fa fa-group fa-2x text-muted mr-3"></i>
                    <div class="media-body">
                        <div class="my-0 font-weight-bold">
                          <a href="{{ url_for('group', groupname=group.name) }}">
                            <span class="title">{{ group.name }}</span>
                          </a>
                        </div>
                        {% if group.description %}
                          <div>{{ group.description }}</div>
                        {% endif %}  
                    </div>
                  </div>
                  <div class=" {{ 'text-warning' if is_sponsor else 'text-success' }}">{{ 'sponsor' if is_sponsor else 'member' }} </div>
                </li>
              {% endwith %}
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>

  </div>
{% endblock %}
