{% extends "main.html" %}

{% block title %}{{ user.username }}'s Settings{% endblock %}

{% import '_form_macros.html' as macros %}
{% block content %}
  {{ super() }}
  <div class="container py-4 section">
    <div class="row form-group">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <ul class="card-header nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#settings-personal" role="tab">Personal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#settings-contact" role="tab">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#settings-security" role="tab">Privacy and Security</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="settings-personal" role="tabpanel">
              <div class="card-body pb-0">
                <label>Avatar</label>
                <img src="{{ gravatar(user.mail if user.mail else 'default', 64) }}" class="border rounded"/>
                {%- if openid is defined %}
                <form method="GET" action="https://www.libravatar.org/openid/login/">
                  <input type="hidden" name="openid_identifier" value="{{ openid % format(user.username) }}">
                  <input name="change-avatar" type="submit" value="Change Avatar">
                </form>
                {%- else %}
                <a href="https://www.libravatar.org/accounts/login/">Change Avatar</a>
                {%- endif %}
              </div>
              <form class="needs-validation" action="{{ url_for('user_edit', username=user.username) }}" method="post" novalidate>
                {{ form.csrf_token }}
                <div class="card-body">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" disabled id="username" name="username" type="text" value="{{ user.username }}">
                  </div>
                  <div class="form-row">
                    <div class="form-group col">{{ macros.with_errors(form.firstname) }}</div>
                    <div class="form-group col">{{ macros.with_errors(form.lastname) }}</div>
                  </div>
                  <div class="form-group">{{ macros.with_errors(form.locale, class="custom-select") }}</div>
                  <div class="form-group">{{ macros.with_errors(form.timezone, class="custom-select") }}</div>
                  <div class="form-group">{{ macros.with_errors(form.gpgkeys, maxlength="16", class="text-monospace mb-1", placeholder="GPG Key ID") }}</div>
                  <div class="form-group">{{ macros.with_errors(form.sshpubkeys, class="text-monospace mb-1", placeholder="SSH Public Key") }}</div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  <div>{{ macros.non_field_errors(form) }}</div>
                  <button class="btn btn-primary" id="submit" type="submit" tabindex="9">Save</button>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="settings-contact" role="tabpanel">
              <form class="needs-validation" action="{{ url_for('user_edit', username=user.username) }}" method="post" novalidate>
                {{ form.csrf_token }}
                <div class="card-body">
                  <div class="form-group">{{ macros.with_errors(form.mail) }}</div>
                  <div class="form-group">{{ macros.with_errors(form.ircnick) }}</div>
                  <div class="form-group">{{ macros.with_errors(form.github) }}</div>
                  <div class="form-group">{{ macros.with_errors(form.gitlab) }}</div>
                  <div class="form-group">{{ macros.with_errors(form.rhbz_mail) }}</div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  <div>{{ macros.non_field_errors(form) }}</div>
                  <button class="btn btn-primary" id="submit" type="submit" tabindex="10">Save</button>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="settings-security" role="tabpanel">
              {% include '_password_reset_form.html' %}
              {%- if request_disable_account is defined  %}
              <div class="border-top">
                <h5>Personal data requests</h5>
                {{ request_disable_account() }}
              {%- endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

