{% extends "main.html" %}

{% block title %}Edit User: {{ user.username }}{% endblock %}

{% import '_form_macros.html' as macros %}
{% block content %}
  {{ super() }}
  <div class="container section">
    <div class="row">
      <div class="col s12">
        <h3 class="header light-blue-text text-darken-4 fw300">
          Edit user: {{ user.username }}
        </h3>

        <form class="needs-validation" action="{{ url_for('user_edit', username=user.username) }}" method="post" novalidate>
          {{ form.csrf_token }}

          <div class="form-row">
            <div class="form-group col">{{ macros.with_errors(form.firstname) }}</div>
            <div class="form-group col">{{ macros.with_errors(form.lastname) }}</div>
          </div>
          <div class="form-row">
            <div class="form-group col">{{ macros.with_errors(form.mail) }}</div>
            <div class="form-group col">{{ macros.with_errors(form.locale, class="custom-select") }}</div>
          </div>
          <div class="form-row">
            <div class="form-group col">{{ macros.with_errors(form.ircnick) }}</div>
            <div class="form-group col">{{ macros.with_errors(form.timezone, class="custom-select") }}</div>
          </div>
          <div class="form-row">
            <div class="form-group col">{{ macros.with_errors(form.github) }}</div>
            <div class="form-group col">{{ macros.with_errors(form.gitlab) }}</div>
          </div>
          <div class="form-row">
              <div class="form-group col">{{ macros.with_errors(form.rhbz_mail) }}</div>
          </div>
          <div class="form-row">
              {# TODO: We need to have a way to add more keys and fix this styling #}
              <div class="form-group col">{{ macros.with_errors(form.gpgkeys) }}</div>
          </div>

          <div class="form-row">
              {{ macros.non_field_errors(form) }}
              <div class="form-group col">
                <button class="btn btn-primary" id="submit" type="submit" tabindex="9">Submit</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

