{% extends "main.html" %}

{# NOTE! Any use of `ipa` in here MUST be checked, as for some handlers it
   simply won't exist! Use e.g. {{ ipa.foo if ipa is defined and ipa }}.
   Use 'current_user' where possible. #}

{% block content %}
  {% if current_user %}
    <ul id="usermenu" class="dropdown-content">
      <li><a href="{{ url_for('user', username=current_user.username) }}" class="light-blue-text text-darken-3">Profile</a></li>
      <li><a href="{{ url_for('logout') }}" class="light-blue-text text-darken-3">Log Out</a></li>
    </ul>
  {% endif %}
  <nav>
    <div class="nav-wrapper light-blue darken-3">
      <div class="container">
        <div class="row">
          <div class="col s4">
            {% if current_user %}
              <form>
                <div class="input-field">
                  <input id="search" type="search" class="typeahead" autocomplete="off">
                  <!-- TODO: Fix margin-top hack; typeahead.js breaks it somehow otherwise. :( -->
                  <label class="label-icon" for="search" style="margin-top: -12px;"><i class="material-icons">search</i></label>
                </div>
              </form>
            {% endif %}
          </div>

          <div class="col s4 center">
            <a href="/" class="brand-logo securitas-brand center">sēcūritās</a>
          </div>

          <div class="col s4 right">
            {% if current_user %}
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                  <a class="dropdown-trigger" href="#!" data-target="usermenu">
                    {{ current_user.username }}<i class="material-icons right">arrow_drop_down</i>
                  </a>
                </li>
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>

  {% with flashes = get_flashed_messages(with_categories=True) %}
    {% if flashes %}
      <div class="container flash-messages">
        {% for category, flash in flashes %}
          <div class="card-panel {{ category }} lighten-4 {{ category }}-text text-darken-4">
            {{ flash|striptags }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/bloodhound.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.jquery.min.js"></script>
  <script>
    var bloodhound_users = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: '/search/json?username=%QUERY',
            wildcard: '%QUERY'
        }
    });

    var bloodhound_groups = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: '/search/json?group=%QUERY',
            wildcard: '%QUERY'
        }
    });

    $('#search').typeahead(
        { highlight: true},
        { name: 'users',
          display: 'uid',
          source: bloodhound_users,
          templates: {
            header: '<h5>Users</h5>'
          }
        },
        { name: 'groups',
          display: 'cn',
          source: bloodhound_groups,
          templates: { header: '<h5>Groups</h5>' }
        }
    ).on('typeahead:selected', function(evt, itm, name) {
      var path = name == "users" ? "user" : "group";
      var n = path == "group" ? itm.cn : itm.uid;
      window.location.href = '/' + path + '/' + n + '/';
    });

    $(".dropdown-trigger").dropdown();
  </script>
{% endblock %}
