# This file contains the default configuration values

TEMPLATES_AUTO_RELOAD = False
SESSION_COOKIE_HTTPONLY = True
SESSION_COOKIE_SECURE = True
USER_DEFAULTS = {"user_locale": "en-US", "user_timezone": "UTC"}
THEME = "default"
PASSWORD_POLICY = {
    "min": 8, "max": -1
}
PASSWORD_RESET_EXPIRATION = 10  # in minutes
PASSWORD_RESET_LOCK_DIR = "/tmp/noggin-pw-reset"
ACTIVATION_TOKEN_EXPIRATION = 30  # in minutes
HIDE_GROUPS_IN = "hidden_groups"

AVATAR_SERVICE_URL = "https://seccdn.libravatar.org/"
AVATAR_DEFAULT_TYPE = "robohash"

MAIL_DOMAIN_BLOCKLIST = ['fedoraproject.org']