@import url("https://fonts.googleapis.com/css?family=Roboto|Orbitron&display=swap");

body {
    font-family: "Proxima Nova", "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.orbitron {
    font-family: 'Orbitron', sans-serif;
}

.securitas-brand {
    font-weight: bold;
    font-style: italic;
}

.securitas-brand i {
    margin-right: 5px !important;
}

main {
    flex: 1 0 auto;
}

.w100 { width: 100%; }
.fw300 { font-weight: 300; }

