@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
    font-family: "Proxima Nova", "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.w100 { width: 100%; }
.fw300 { font-weight: 300; }

