/*CSS rules for the 'almalinux' noggin theme */

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000518;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 650;
  line-height: 2;
}

.navbar-dark { background-color: #082336; color: #fff; }

.row { margin-left: 0 }

.btn-primary,
.btn-outline-primary { color: #264154; background-color: #fff; border-color: #082336; }
.btn-outline-primary:hover, 
.btn-primary:hover { color: #fff; background-color: #004bbc; border-color: #082336; }
a, .btn-link { color: #264154 }
a:hover, .btn-link { color: #304b5e }

.badge-secondary { background-color: #2e3344; }

.text-info { color: #88c0d0 }
.text-success { color: #8fbcbb; }

div.media.align-items-center img { border-radius: 50%; }

.card.card-body {
  margin-bottom: 10px !important;
}

ul.list-unstyled.row li {
  padding-left: 0;
}

span.logo-text {
  line-height: 5px;
  display: block;
  height: 50%;
}

span.logo-text-top {
  display: flex;
  align-items: flex-end;
}
