/*CSS rules for the 'centos' noggin theme */

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #2e3344;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 650;
  line-height: 2;
}

.navbar-dark { background-color: #2e3440; color: #fff; }

.row { margin-left: 0 }

.btn-primary,
.btn-outline-primary { color: #5e81ac; background-color: #fff; border-color: #81a1c1; }
.btn-outline-primary:hover, 
.btn-primary:hover { color: #fff; background-color: #5e81ac; border-color: #81a1c1; }
a, .btn-link { color: #5e81ac }
a:hover, .btn-link { color: #81a1c1 }

.badge-secondary { background-color: #2e3344; }

.text-info { color: #88c0d0 }
.text-success { color: #8fbcbb; }

div.media.align-items-center img { border-radius: 50%; }

.card.card-body {
  margin-bottom: 10px !important;
}

ul.list-unstyled.row li {
  padding-left: 0px;
}
