[Unit]
Description=securitas
After=network-online.target
Wants=network-online.target

[Service]
Environment=FLASK_APP=/vagrant/securitas/app.py
Environment=SECURITAS_CONFIG_PATH=/home/vagrant/securitas.cfg
Environment=FLASK_DEBUG=1
User=vagrant
WorkingDirectory=/vagrant
ExecStart=poetry run flask run -h 0.0.0.0

[Install]
WantedBy=multi-user.target
