<p><strong>Noggin</strong></p>
<p>{{_("Hello %(name)s,", name=user.name)}}</p>
<p>{{_("To activate your account with username %(username)s, click on the link below:", username=user.username)}}</p>
<p>
  <a href="{{ url_for('.activate_account', _external=True) }}?token={{ token }}">
    {{ url_for('.activate_account', _external=True) }}?token={{ token }}
  </a>
</p>
<p>
  {{_("This link will be valid for %(ttl)s minutes (until %(valid_until)s UTC).", ttl=ttl, valid_until=valid_until.strftime("%H:%M"))}}
  {{_("If the link has expired, you can request a new one here: ")}}
  <a href="{{ url_for('.confirm_registration', _external=True) }}?username={{ user.username }}">
    {{ url_for('.confirm_registration', _external=True) }}?username={{ user.username }}
  </a>
</p>
<p>{{_("If you did not create an account for username %(username)s, you can ignore this email.", username=user.username)}}</p>

<p><em>{{_("The Noggin team")}}</em></p>
