/*CSS rules for the 'FAS' noggin theme */

.masthead {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px 2px #ddd;
    position: relative;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
}

.footer a{
    color:rgba(255,255,255,0.5);
    border-bottom: 1px dotted rgba(255,255,255,0.2)
  }