{% extends "main.html" %}

{% block content %}
  {{ super() }}


  <div class="bg-light border-bottom py-5">
    <div class="container section">
      <div class="row">
        <div class="col-md-7">
          {{ front_page_blurb() }}
        </div>
        <div class="col">
          <div class="card">
          {{ login_note() if login_note is defined }}
          <ul class="card-header nav nav-tabs pb-0" role="tablist">
            <li class="nav-item">
              <a class="nav-link {{'active' if activetab == 'login'}}" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" href="#login" role="tab">{{ _("Login") }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{'active' if activetab == 'register'}}" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" href="#register" role="tab">{{ _("Register") }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade {{'show active' if activetab == 'login'}}" id="login" role="tabpanel">{% include '_login_form.html' %}</div>
            <div class="tab-pane fade {{'show active' if activetab == 'register'}}" id="register" role="tabpanel">{% include '_register_form.html' %}</div>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='js/vendor/altcha-2.2.4/altcha.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script async defer type="module" nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/vendor/altcha-2.2.4/altcha.min.js') }}"></script>
    <script async defer nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/vendor/altcha-2.2.4/worker.min.js') }}"></script>
    <script async defer nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/vendor/altcha-2.2.4/i18n-all.min.js') }}"></script>
    {% if passkey_login_enabled %}
    <script nonce="{{ csp_nonce() }}">
      var PASSKEY_LOGIN_BEGIN_URL = {{ url_for('.passkey_login_begin')|tojson }};
      var PASSKEY_LOGIN_COMPLETE_URL = {{ url_for('.passkey_login_complete')|tojson }};
      var PASSKEY_LOGIN_CSRF_TOKEN = {{ csrf_token()|tojson }};
    </script>
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/passkey-login.js') }}"></script>
    {% endif %}
{% endblock %}
