{% extends "user-settings.html" %}

{% import '_form_macros.html' as macros %}
{% block settings_content %}

{% if otp_uri %}
<div class="modal fade" id="otpModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="otp_qrcode"></div>
        <pre data-otpuri="{{otp_uri}}" id="otpuri">{{otp_uri}}</pre>
      </div>
    </div>
  </div>
</div>
{% endif%}
<div class="card-body">
  <div class="d-flex">
      <h5 id="pageheading">OTP Tokens</h5>
      <div class="dropdown ml-auto {% if addotpform.errors %}show{% endif %}">
        <div class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">Add OTP Token</div>
        <div class="dropdown-menu dropdown-menu-right {% if addotpform.errors %}show{% endif %}" style="min-width:20em;">
            <form action="{{ url_for('user_settings_otp', username=current_user.username) }}" method="post" class="px-4 py-3" novalidate>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <div class="form-group">{{ macros.with_errors(addotpform.description, tabindex="2")}}</div>
              <div class="form-group">{{ macros.with_errors(addotpform.password, tabindex="3", placeholder="Password or Password + One-Time-Password")}}</div>
              <div>{{ macros.non_field_errors(addotpform) }}</div>
              <button class="btn btn-primary" id="submit" type="submit" tabindex="4">Generate</button>
            </form>
          </div>
      </div>
  </div>
</div>

<div class="list-group">
{% for token in tokens %}
  <div class="list-group-item">
    <div class="row align-items-center">
      <div class="col h6">
        <div data-role="token-description">{{token.description}}</div>
        <div class="text-monospace">{{token.uniqueid}}</div>
      </div>
      <div class="col-auto">
        {% if not token.disabled %}
          <form action="{{ url_for('user_settings_otp_disable', username=current_user.username) }}" method="post" class="d-inline">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type='submit' class="btn btn-sm btn-outline-secondary" name="token" value="{{ token.uniqueid }}">Disable</button>
          </form>
        {% else %}
        <button class="btn btn-sm btn-link disabled">Disabled</button>
        {% endif %}
        <form action="{{ url_for('user_settings_otp_delete', username=current_user.username) }}" method="post" class="d-inline">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <button type='submit' class="btn btn-sm btn-outline-danger" name="token" value="{{ token.uniqueid }}"><i class="fa fa-trash"></i></button>
        </form>
      </div>
    </div>
  </div>
{% else %}
  <div class="list-group-item text-center bg-light text-muted font-weight-bold">You have no OTP tokens</div>
{% endfor %}
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% if otp_uri %}
  <script src="{{ url_for('static', filename='js/vendor/jquery-qrcode-1.0/jquery.qrcode.min.js') }}"></script>
  <script>$('#otp_qrcode').qrcode("{{ otp_uri|safe }}");</script>
  <script>
    $(window).on('load',function(){
        $('#otpModal').modal('show');
    });
  </script>
  
  {% endif %}
{% endblock %}

