{% extends "user-settings.html" %}

{% import '_form_macros.html' as macros %}
{% block settings_content %}
<form class="needs-validation" action="{{ url_for('user_settings_profile', username=user.username) }}" method="post" novalidate>
    {{ form.csrf_token }}
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col">{{ macros.with_errors(form.firstname) }}</div>
        <div class="form-group col">{{ macros.with_errors(form.lastname) }}</div>
      </div>
      <div class="form-group">{{ macros.with_errors(form.locale, class="custom-select") }}</div>
      <div class="form-group">{{ macros.with_errors(form.timezone, class="custom-select") }}</div>
      <div class="form-group">{{ macros.with_errors(form.mail) }}</div>
      <div class="form-group">{{ macros.with_errors(form.ircnick) }}</div>
      <div class="form-group">{{ macros.with_errors(form.github) }}</div>
      <div class="form-group">{{ macros.with_errors(form.gitlab) }}</div>
      <div class="form-group">{{ macros.with_errors(form.rhbz_mail) }}</div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <div>{{ macros.non_field_errors(form) }}</div>
      <button class="btn btn-primary" id="submit" type="submit" tabindex="9">{{_("Save")}}</button>
    </div>
</form>
{% endblock %}

{% block scripts %}
  {{ super () }}
  {{ macros.unsaved_changes() }}
{% endblock %}

