{% extends "main.html" %}

{% block title %}{{_("Profile for %(username)s", username=user.username)}}{% endblock %}

{% block content %}
  {{ super() }}
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="row mb-3">
          <div class="col-4">
            <img class="w-100 border rounded" src="{{ gravatar(user.mail if user.mail else 'default', 400) }}" alt="gravatar">
          </div>
          <div class="col my-auto">
            <h3 class="mb-0" id="user_fullname">{{ user.name if user.name else user.username }}</h3>
            <h5 class="mb-0" id="user_username">{{ user.username }}</h5>
          </div>
        </div>
        <ul class="nav nav-pills mb-3 justify-content-center" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#profile" role="tab">{{_("Profile")}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#groups" role="tab">{{_("Groups")}} <span class="badge badge-primary badge-pill">{{groups | count }}</span></a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="profile" role="tabpanel">
            <div class="card">
                  <ul class="list-group list-group-flush">
                  {% if user.timezone %}
                    <li class="list-group-item d-flex justify-content-between align-items-center"><strong>{{_("Timezone")}}</strong> 
                      <div class="text-right">
                        <div>{{ user.timezone }}</div>
                        <div><small id="user-time">&nbsp;</small></div>
                      </div>
                    </li>
                  {% endif %}
                  {% if user.ircnick %}
                    <li class="list-group-item d-flex justify-content-between"><strong>{{_("IRC Nicknames")}}</strong> <div class="text-right">{% for ircnick in user.ircnick %}<pre class="mb-0">{{ ircnick }}</pre>{% endfor %}</li>
                  {% endif %}
                  {% if user.locale %}
                    <li class="list-group-item d-flex justify-content-between align-items-center"><strong>{{_("Locale")}}</strong> {{ user.locale }}</li>
                  {% endif %}
                  {% if user.gpgkeys %}
                    <li class="list-group-item d-flex justify-content-between"><strong>{{_("GPG Keys")}}</strong> <div class="text-right">{% for pgpkey in user.gpgkeys %}<pre class="mb-0">{{ pgpkey }}</pre>{% endfor %}</div></li>
                  {% endif %}
                  {% if user.rhbz_mail %}
                    <li class="list-group-item d-flex justify-content-between align-items-center"><strong>{{_("RHBZ E-Mail")}}</strong> {{ user.rhbz_mail }}</li>
                  {% endif %}
                  {% if user.github %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <b>GitHub</b>
                      <a href="https://github.com/{{ user.github }}">@{{ user.github }}</a>
                    </li>
                  {% endif %}
                  {% if user.gitlab %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <b>GitLab</b>
                      <a href="https://gitlab.com/{{ user.gitlab }}">@{{ user.gitlab }}</a>
                    </li>
                  {% endif %}
                  {{ userlinks() if userlinks is defined }}
              </ul>
              {% if user.username == current_user.username %}
              <div class="card-footer">
                <a href="{{ url_for('user_settings_profile', username=user.username) }}" class="btn btn-secondary btn-block">{{_("Settings")}}</a>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="tab-pane fade" id="groups" role="tabpanel">
            <div>
              <ul class="list-group">
                {% for group in groups %}
                  {% with is_sponsor = group in managed_groups %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <div class="media align-items-center">
                        <i class="fa fa-group fa-2x text-muted mr-3"></i>
                        <div class="media-body">
                            <div class="my-0 font-weight-bold">
                              <a href="{{ url_for('group', groupname=group.name) }}">
                                <span class="title">{{ group.name }}</span>
                              </a>
                            </div>
                            {% if group.description %}
                              <div>{{ group.description }}</div>
                            {% endif %}  
                        </div>
                      </div>
                      <div class=" {{ 'text-warning' if is_sponsor else 'text-success' }}">{{ _('sponsor') if is_sponsor else _('member') }} </div>
                    </li>
                  {% endwith %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div> 
    </div>

  </div>
{% endblock %}

{% block scripts %}
{{super()}}
{% if user.timezone %}
  <script>
    setInterval("generate_local_time();",1000); 
    function generate_local_time(){
      var currenttime = moment().tz("{{user.timezone}}").format('dddd, h:mm:ss a')
      $("#user-time").html(currenttime)
    }
  </script>
{% endif %}
{% endblock %}
