/* Typeahead stuff... based on css found here:
   https://github.com/twhetzel/flask-jquery-autocomplete-demo/blob/b8b07a59a120e3254483848707da993463c56e91/templates/materialTagsExamples.html
*/
.tt-hint {
  color: #999;
  left: inherit !important;
}

.tt-menu {
  width: 100%;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #000;
}

.tt-menu h5 {
  padding: 5px;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion p {
  margin: 0;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #428bca;
}
.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  color: #fff;
  background-color: #428bca;
  cursor: pointer;
}

.modal.with-typeahead {
  overflow-y: visible;
}
.modal.with-typeahead .tt-menu {
  top: 50% !important;
}

.twitter-typeahead {
  width: 100%;
}

/* Moves the footer to the bottom of the page */

.bodycontent {
  min-height: 70vh;
  max-width: 100vw;
  margin: 0;
  display: flex;
  flex-flow: column;
}

/* Labels in forms are weighted */
.form-group label {
  font-weight: bolder;
}

/* Support select tags as prepended fields */
.input-group > .input-group-prepend > select.form-control,
.input-group > .input-group-prepend > select.custom-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* Registering users */

.fasstatus .badge {
  font-size: 90%;
}
